@import "variables";




.formation{
  background-color: $light_fond;
  padding: 2vw;
  margin-bottom: 15vh;
}
// style des intitulés
.intitule{
  display: flex;
  width: 100%;
   gap: 14vw;
&:not(:last-child)
{
  padding-bottom: 2vh;

  border-bottom:1.5px solid $boder_line;
}
  &:not(:first-child){
     padding-top: 2vh;
  }
  .label{

  }
  .details{

  }
}
.label {
  &__titre{
    width: 15vw;
    padding-bottom: 1.5vw;
  }
  &__status{

  }
  &__annee{

  }
}
.details {
  &__titre{
    padding-bottom: 1.5vw;
  }
&__description{

}
}
//
// .details__description,
// .petiteImage {
//   display: none;
// }


.hide{
  display: none;
}



// .accordion article label {
//   cursor: pointer;
// }
//
// .accordion article div {
//   max-height: 0;
//   overflow: hidden;
//   transition: max-height 0.5s;
// }
//
// .accordion article input[type="radio"]:checked ~ div {
//   max-height: 200px; /* ou la hauteur maximale que vous voulez */
// }

