@media screen and (width < 667px) {
  .header {
    &__intro{

      min-height: 40vh;
      order: 2;
      background-color: #F5A39F;
      padding-top: 11vw;
      padding-right: 5vw;
      padding-left: 5vw;
      padding-bottom: 5vw;
    }


  }
.intro{
  &__bouton{
    width: 15vw;
    min-height: 2vh;
    margin-top: 5vh;
  }
  &__texte{


    font-size: 3vw;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 5vw;
  }
  &__titre{
    margin-bottom: 12vw;
    font-size: 4.5vw;
    line-height: 3vh;
  }
  &__image{
    min-width: 20vw;
    height: 13vh;
    min-height: 15vh;
    margin-right: -1vw;
  }
}


  .nav__button{
    display: none;
  }
}
@media screen and (width > 667px) {}



@media screen and (width > 1200px) {
  .header{
    min-height: 100vh;
    &__menu{
      height: 100%;
      min-height: 100vh;
    }
    &__intro{
      flex-basis: 85%;
      height: auto;
      min-height: auto;

      padding : {
        top: 5vw;
        right: 5vw;
        left: 5vw;
        bottom: 5vw;
      }
    }

    &__resumer{
      margin-right: 1.7vw;
      background-color: $accent;
      min-height: 100vh;
      position: sticky;
      text-align: center;
      height: 100%;
    }
  }
  .intro{


    &__image{
      min-width: 20vw;
      height:40vh;
      min-height: 20vh;
      margin-right: 5vw;
      padding-top: 2vh;


    }
    &__titre{
      width: 55%;
      margin-bottom: 1vw;
      font:{
        size: 2.5vw;
      }
      color: black;
      text-shadow: 0 0 5px $light_fond;
    }

  }

}
