@media screen and (width < 667px) {
  .header {
    &__intro{

      min-height: 40vh;
      order: 2;
      background-color: #F5A39F;
      padding-top: 11vw;
      padding-right: 5vw;
      padding-left: 5vw;
      padding-bottom: 5vw;
    }


  }
.intro{
  &__bouton{
    width: 15vw;
    min-height: 2vh;
    margin-top: 5vh;
  }
  &__texte{


    font-size: 3vw;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 5vw;
  }
  &__titre{
    margin-bottom: 12vw;
    font-size: 4.5vw;
    line-height: 3vh;
  }
  &__image{
    min-width: 20vw;
    height: 13vh;
    min-height: 15vh;
    margin-right: -1vw;
  }
}


  .nav__button{
    display: none;
  }
}
@media screen and (width > 667px) {}



@media screen and (width > 1200px) {

}
